<div class="main-footer">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="top-footer">
            <div class="row">
              <div class="col-md-12 d-flex flex-nowrap flex-row justify-content-start align-content-center align-items-center">
                <div class="logo-image"></div>
                <div class="author-cont d-flex flex-nowrap flex-row">
                  <div class="author-image" (click)="visitLinkedin()"></div>
                  <div class="author-about ms-5">
                    <h5>About the author</h5>
                    <div class="name">Joseph John Cezar</div>
                    <div class="position">Senior Software Engineer</div>
                    <div class="links">
                      <div class="icon d-flex flex-row flex-nowrap justify-content-start align-content-center align-items-center" (click)="visitLinkedin()">
                        <a href="javascript:void(0);" (click)="visitLinkedin()">
                          <i class="fab fa-linkedin"></i>
                        </a>
                        <div class="url">/in/jjrcezar</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="bottom-footer">
            <div class="row">
              <div class="col-md-12 text-end">
                <small>Created by JJRC. 2022.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
